* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --pale-gray: #f5f6fa;
  --white-dark: #fafafa;
  --white-light: #fff;
  --blue-azure: #0290ff;
  --gray-dark: #888;
  --black-dark: #121212;
}

h1 {
  font-size: x-large;
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  background-color: var(--white-dark);
  height: 100%;
}

.container {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
}

header,
.list .books li {
  background-color: var(--white-light);
}

header {
  margin: 2%  auto 0 auto;
  width: 100%;
  padding: 20px 0;
}

nav {
  width: 85%;
  margin: auto;
  justify-content: space-between;
}

nav h1 {
  color: var(--blue-azure);
}

nav,
nav ul {
  align-items: center;
}

nav,
nav ul,
.list .books .book-card,
.list .books li .book-card .button-card,
.form-add-book,
.card-layout,
.percentage {
  display: flex;
}

nav ul {
  gap: 20px;
}

nav ul li a {
  color: var(--gray-dark);
}

nav ul li .active {
  color: var(--black-dark);
  font-weight: 500;
}

nav button {
  border-radius: 50%;
  padding: 10px 12px;
  border: solid 1px var(--gray-dark);
  background-color: transparent;
}

nav button i {
  color: var(--blue-azure);
}

main {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto 4% auto;
  background-color: var(--body-back);
}

#book-category {
  color: var(--gray-dark);
  font-weight: 700;
}

.chapter .chapter-card small {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--gray-dark);
}

.chapter button {
  gap: 20px;
}

.list .books {
  width: 85%;
  margin: auto;
}

.list .books li {
  width: 100%;
  margin: 13px 0;
  padding: 10px 0;
}

.list .books li .book-card {
  flex-direction: column;
  width: 45%;
  margin: auto;
}

.list .books li .book-card p {
  font-size: large;
  font-weight: 600;
}

.list .books li .book-card small {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0 0 15px 0;
}

.list .books li .book-card .button-card {
  padding: 10px 0;
  gap: 20px;
}

.list .books li .book-card .button-card button {
  background-color: transparent;
  color: #4386bf;
  font-size: 0.875rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}

.list .books li .book-card .button-card button:hover {
  color: #0562a9;
}

.list .books li .book-card .button-card button:not(:last-child) {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: solid 1.3px #e8e8e8;
  padding: 0 12px 0 0;
}

.list .books li .book-card .button-card button:last-child {
  border: none;
  padding: 0 10px;
}

.line {
  width: 85%;
  border: solid 1px #e8e8e8;
  margin: auto;
}

.newbook {
  width: 85%;
  margin: 20px auto;
}

.newbook h1 {
  color: var(--gray-dark);
  font-weight: 500;
  padding: 10px 0;
}

.form-add-book {
  width: 100%;
  flex-direction: row;
  gap: 2%;
}

.form-add-book input:nth-child(1) {
  width: 55%;
  border: none;
  color: #c4c4c4;
  outline: none;
}

.form-add-book select {
  width: 25%;
  border: none;
  outline: none;
  color: #c4c4c4;
  padding: 2px;
  font-size: 14px;
}

.form-add-book select:focus {
  border: 1px solid var(--blue-azure);
}

.form-add-book select::placeholder {
  color: #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px;
}

.form-add-book input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 10px;
}

.form-add-book input:focus {
  border: 1px solid var(--blue-azure);
}

.newbook .add-book {
  width: 14%;
  text-transform: uppercase;
  background-color: var(--blue-azure);
  border: none;
  font-weight: 600;
  color: var(--white-light);
  padding: 10px 0;
}

.newbook .add-book:hover {
  transform: scale(0.98);
}

.newbook .add-book:active {
  background-color: #0562a9;
}

.under-construction {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.card-layout {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.percentage {
  width: 19%;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.percentage::after {
  content: '';
  margin-left: 30px;
  width: 0.125rem;
  height: 4.375rem;
  background: #e8e8e8;
}

.chapter {
  width: 33%;
}

.chapter .chapter-card {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.chapter .chapter-card .update-progress {
  background: var(--blue-azure);
  border: none;
  padding: 8px 0;
  border-radius: 3px;
  color: var(--white-dark);
}

.chapter .chapter-card .update-progress:hover {
  transform: scale(0.98);
}

#percentage-number {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#progress-title {
  color: #888;
}
